/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.glass-effect {
  backdrop-filter: blur(10px);
  background: rgba(255, 240, 177, 0.1);
}

.export-only { display: none; }
.exporting .export-only { display: block; }

.export-hide { display: block; }
.exporting .export-hide { display: none; }

